# Pivot table

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.pivot_table('survived', index='sex', columns='class')

In [ ]:
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')

In [ ]:
fare = pd.qcut(titanic['fare'], 2)
titanic.pivot_table('survived', ['sex', age], [fare, 'class'])

In [ ]:
df_pivot = titanic.pivot_table('survived', ['sex', age], ['who', 'class'])
df_pivot

In [ ]:
df_pivot['child', 'First']

In [ ]:
df_pivot['child']

In [ ]:
titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':sum, 'fare':'mean'})

In [ ]:
titanic.pivot(index='sex', columns='class', values='survived')

# Wide to long

Tamb√©m conhecido como melt ou unmelt

In [ ]:
df = pd.DataFrame({'col_1': ['A'] * 3 + ['B']*3,
                   'col_2': ['Primeiro', 'Segundo', 'Terceiro'] * 2,
                   'col_3': [1, 2, 3, 4, 5, 6]})

In [ ]:
df_wide = df.pivot(index='col_1', columns= 'col_2', values='col_3')
df_wide

In [ ]:
df_long = df_wide.reset_index().melt(id_vars='col_1', value_vars=['Primeiro', 'Segundo', 'Terceiro'])
df_long

In [ ]:
df_wide = pd.DataFrame({'col_1': ['A', 'B'],
                        'Primeiro': [1, 4],
                        'Segundo': [2, 5],
                        'Terceiro': [3, 6]})

df_wide.melt(id_vars='col_1', value_vars=['Primeiro', 'Segundo', 'Terceiro'])

In [ ]:
df_wide.melt(id_vars='col_1', value_vars=['Primeiro', 'Segundo', 'Terceiro'], ignore_index=False)